.register {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    >.card {
        padding: 4rem;

        >.form {
            display: flex;
            flex-direction: column;
        }

        >.login-text {
            margin-top: 1rem;
            display: block;
        }
    }
}